snippet template-latex "Template: Minimal LaTeX sample" b
\`\`\`tex
\documentclass{minimal}
\begin{document}
Hello World!
\end{document}
\`\`\`
endsnippet

snippet template-vimtex "Template: Minimal vimrc for VimTeX" b
\`\`\`vim
set nocompatible
set runtimepath^=~/.local/plugged/vimtex
set runtimepath+=~/.local/plugged/vimtex/after
filetype plugin indent on
syntax enable
\`\`\`
endsnippet

snippet template-wiki "Template: Minimal vimrc for wiki.vim" b
\`\`\`vim
set nocompatible
set runtimepath^=~/.local/plugged/wiki.vim
filetype plugin indent on
syntax enable

nnoremap q :qall!<cr>
\`\`\`
endsnippet

snippet note_basic "Anki note: Basic model" b
# Basic note
model: Basic
tags: $1

## Front
**${2:$1}**

$3

## Back
$0

endsnippet

snippet LLM "Create Markdown link from clipboard" wA
$0`!v personal#wiki#link_from_clipboard()`
endsnippet

snippet QQ "Anki question and answer" bA
Q: $1
A: $0
endsnippet
