snippet note_basic "Anki note: Basic model" b
# Basic note
model: Basic
tags: $1

## Front
**${2:$1}**

$3

## Back
$0

endsnippet

snippet LLM "Create Markdown link from clipboard" wA
$0`!v personal#wiki#link_from_clipboard()`
endsnippet
